@using Reco.Models;
@model Reco.Models.CategoryModel

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Adaugare categorie</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @using (Html.BeginForm("AddCategory", "Categories", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        @Html.LabelFor(m => m.Nume, new { @class = "col-md-4 control-label required" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.Nume, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Nume, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <br />
                    <br />
                    <br />
                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        @Html.Label("Image", new { @class = "col-md-4 control-label " })
                        <div class="col-md-8">
                            <input type="file" class="form-control" id="image" name="image" />
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Adauga categorie" class="btn btn-success pull-right" />
                    </div>
                }

            </div>
        </div>
    </div>
</div>
